.sidepanel__container {
}

.sidepanel__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9898;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.2s;
}

.sidepanel__backdrop--active {
  opacity: 1;
  visibility: visible;
}

.sidepanel {
  z-index: 9999;
  position: absolute;
  background-color: white;
  transform: translate3d(-100%, 0, 0);
  transition: ease-in-out 0.2s all;
}

.sidepanel--active {
  transform: translate3d(0px, 0, 0);
  transition: ease-in-out 0.2s all;
}

.sidepanel__option--active {
  background-color: #f2f2f2;
}

.sidepanel-list {
  overflow-y: hidden;
  height: 100%;
}

.sidepanel-list:hover {
  overflow-y: auto;
  height: 100%;
}
